# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\20202021\SES-4083\backtrack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
